    <!-- About Start -->
    <div class="container-fluid pt-5" >
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary"></a>Что мы делаем?</h2>
                {{!-- <h1 class="display-4 text-uppercase">переписать текст он содран 100%</h1> --}}
            </div>
            <div class="row gx-5 about">
        <h5 class="text-balack mb-4">Штукатурка стен и откосов - это процесс нанесения тонкого слоя штукатурного состава на поверхность стены с целью выравнивания, укрепления или придания декоративного вида. Наша команда выполнит все этапы работ по штукатурке стен и откосов в любой точке Гомельскойй области:    
        </h5>
<ul class="about-ul">
    <li> 
Подготовку поверхности: перед началом работы по штукатурке стен произведем  очистку от пыли, грязи, масел и других загрязнений, устранит любые дефекты, такие как трещины или выступающие участки.
</li>
    <li>Нанесение грунтовки: для улучшения адгезии (сцепление) штукатурного слоя с поверхностью стены и предотвращения проникновение влаги.
</li>
    <li>Нанесение штукатурки механическим способом с использованием специализированных машин для машинной штукатурки.
</li>
    <li>Выравнивание и отделка: придание желаемой текстуры и ровного вида штукатурке, это может включать в себя шлифовку, шпатлевку или другие методы отделки после нанесения штукатурного слоя.
</li>
</ul>
            </div>
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="img/about33.png" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 pb-5">
                    <h4 class="mb-4">Машинная (механизированная) штукатурка <br>   стен и откосов в Гомеле и Гомельской области</h4>
                    <p class="mb-5">Черновая отделка стен достаточно трудоемкий и затратный этап работ в строительстве.
Мы используем современные технологии штукатурки стен, что  позволило значительно ускорить процесс выполнения за счет уменьшения ручного труда до минимума. Во время машинной штукатурки нами применяются специальные смеси для нанесения с посредством штукатурных станций.</p>
<p>
    
</p>
                    <div class="row g-5">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
                                <i class="fa fa-heartbeat fa-2x text-white"></i>
                            </div>
                            <h4 class="text-uppercase">100% качественно</h4>
                            <p class="mb-0">Гарантия на выполненные работы по штукатурке стен до 3-х лет</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
                                <i class="fa fa-award fa-2x text-white"></i>
                            </div>
                            <h4 class="text-uppercase">Максимально быстро</h4>
                            <p class="mb-0">Выполним механизированную штукатурку в кратчайшие сроки после заключения договора</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-5 about">
                
        <h4 class="text-balack mb-4">
            Плюсы механинизированной штукатурки стен и откосов:    
        </h4>
<ul class="about-ul">
    <li> 
Высокая производительность: Механизированная штукатурка позволяет значительно увеличить скорость выполнения работ по сравнению с ручным методом, что особенно важно при работе на больших объектах.
</li>
    <li>Равномерное нанесение: Использование специализированного оборудования позволяет добиться равномерного нанесения штукатурки на поверхность, что обеспечивает более качественный и эстетичный результат.
</li>
    <li>Экономия ресурсов: Механизированная штукатурка обычно требует меньшего количества материалов, так как смесь расходуется более экономно, а также сокращает потребность в ручном труде.
</li>
    <li>Постоянный контроль над процессом: механизированные системы позволяют точно контролировать количество и скорость нанесения штукатурки, что повышает предсказуемость и качество выполенных работ.
</li>
</ul>
            </div>

        </div>
    </div>
    <!-- About End -->