
{{>head}}



    <div class="container modal-window"  id="modal_window">
            <div class="row justify-content-center" style="background-color: rgba(43, 40, 37, .9);">
                <div class="col-lg-6">
                    <div class="row g-3" style="padding-top: 20px;">
                            <button id = "close" class = "close col-1">x</button>
                    <form action="/" method="POST">
                        <div class="row g-3" style="padding-top: 20px;">
                            
                            <div class="col-sm-6">
                                <input type="text" class="form-control bg-light border-0 px-4" placeholder="ФИО" style="height: 55px;" name  = "name" pattern ="^[A-Za-zА-Яа-яЁё0-9\s]+$" required>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control bg-light border-0 px-4" placeholder="НОМЕР" style="height: 55px;" name  = "number" pattern="[0-9]{6,}" required>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" class="form-control bg-light border-0 px-4 py-3" rows="4" placeholder="СООБЩЕНИЕ" name  = "message" pattern ="^[A-Za-zА-Яа-яЁё0-9\s]+$" required>
                            </div>
                            <div class="col-sm-12">
                                <button class="btn btn-primary border-inner w-100 py-3" type="submit" style="margin-bottom: 60px;">Заказать звонок</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>