<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
  <a href="index.html" class="navbar-brand d-block d-lg-none">
    <h1 class="m-0 text-uppercase text-white"><i class="fa fa-duotone fa-water fa-rotate-90 fs-1 text-primary me-3"
        style="border: solid 4px red; padding: 0 2px 0 2px;"></i>Me<span style="color: red;">Sh</span>.by</h1>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto mx-lg-auto py-0">
      {{#each navbar}}
      <a href="{{this.link}}" class="nav-item nav-link ">{{this.text}}</a>
      {{/each}}
    </div>
  </div>
</nav>
<!-- Navbar End -->