 
 
 <div class="container-fluid px-0 d-none d-lg-block">
        <div class="row gx-0">
		
            <div class="col-lg-3 text-center bg-secondary py-3" >
                <div class="d-inline-flex align-items-center justify-content-center">
                    <i class="fa fa-duotone fa-water fa-rotate-90 fs-1 text-primary me-3" style="border: solid 4px red; padding: 0 2px 0 2px;"></i>
                    <div class="text-start" >
                        <h1 class="mb-1">Me<span style="color: red;">Sh</span>.by</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center bg-primary border-inner py-3">
                <div class="d-inline-flex align-items-center justify-content-center">
                    <a href="index.html" class="navbar-brand">
                        {{!-- <h5 class="m-0 text-uppercase text-white">Механизированная штукатурка и шпаклевка <br>в Гомеле и Гомельской области</h5> --}}
                        <h5 class="m-0 text-uppercase text-white">Механизированная штукатурка и шпаклевка <br>в Гомеле и Гомельской области</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 text-center bg-secondary py-3">
                <div class="d-inline-flex align-items-center justify-content-center">
                    <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                    <div class="text-start">
                        <h6 class="text-uppercase mb-1">тел: +375 (44) 496 19 99</h6>
                        <button id = "call" class = "call_button">
                            <span>Заказать звонок</span>
                        </button>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
    