<!DOCTYPE html>
<html lang="en">

{{>head}}    

{{>contact}}
<body>

    {{>topbar}}

    {{>navbar}}

    {{>hero}}

    {{!-- {{>video}} --}}

    {{>about}}

    {{>facts}}

    {{>products}}

    {{>service}}
 
    {{!-- {{>team}} --}}
 
    {{!-- {{>offer}} --}}

    {{!-- {{>testimonial}} --}}

    {{>footer}}
    
    {{>js}}

</body>

</html>